<!DOCTYPE>
<html>
<head>
  <title></title>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- MathJax -->
  <!--<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->

  <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.4/angular-sanitize.min.js"></script>

  <link rel="stylesheet" href="mmt.css">
  <link rel="stylesheet" href="browser.css">
  <link rel="stylesheet" href="latexml.css">
</head>
<body>
  <div data-ng-app="myApp" data-ng-controller="customersCtrl" class="container" id="glossary">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left">
                <div class="form-group form-group-sm">
                  <select class="form-control" data-ng-model="filter.language" data-ng-change="getAllEntries(); filter.resetPage()">
                    <option value="en">English</option>
                    <option value="de">German</option>
                    <option value="ro">Romanian</option>
                    <option value="tr">Turkish</option>
                    <option value="zhs">Chinese Simplified</option>
                    <option value="zht">Chinese Traditional</option>
                    <!-- <option>DE</option> -->
                  </select>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button" data-ng-click="filter.prevPage(); getAllEntries()">Prev. Page</button>
                  </span>
                  <input type="number" class="form-control" data-ng-model="filter.page" integer data-ng-change="getAllEntries()" min="1" max="999" style="width: 6em" disabled>
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button" data-ng-click="filter.nextPage(); getAllEntries()">Next Page</button>
                  </span>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon2">Number of entries per page</span>
                  <input type="number" class="form-control" data-ng-model="filter.entries" integer data-ng-change="getAllEntries()" min="5" max="100" step="5" style="width: 6em">
                </div>

              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default" data-ng-repeat="x in myData">
          <div class="panel-body">
            <div><b><a data-toggle="collapse" href="#entry{{x.id}}" data-ng-click="getTranslations(x)"><i data-ng-bind-html="x.primary | html"></i></a></b><span class="pull-right"><a data-toggle="collapse" href="#entry{{x.id}}" aria-expanded="false" data-ng-click="getTranslations(x)">Details</a></span></div>
            <div class="collapse" id="entry{{x.id}}">
            <hr/>
              <div data-ng-bind-html="x.definition | html"></div>

              
              <span><b>Translations: </b>
                <a href="#" data-ng-repeat="tr in x.translations">{{tr.notation + "(" + tr.language + ") "}}</a>
              </span><br/>
              <span><b>Hypernyms: </b><a href="#">Monoid</a></span><br/>
              <span><b>Hyponyms: </b><a href="#">Albelian group></a></span><br/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        function filterObj(language, page, entries, mmtURL) {
            this.language = language;
            this.page = page;
            this.entries = entries;
            this.mmtURL = mmtURL

            this.nextPage = function() {
                this.page++;
            };

            this.prevPage = function() {
                if (this.page > 1)
                    this.page--;
            };

            this.resetPage = function() {
                this.page = 1;
            };
        };
        $scope.language = 'en';
        $scope.filter = new filterObj("en", 1, 5, 'http://localhost:8080');
        $scope.getAllEntries = function() {
            $http.post(
                $scope.filter.mmtURL + '/:thesaurus/getAllEntries',
                {
                    lang: $scope.filter.language,
                    page_number: $scope.filter.page,
                    entries: $scope.filter.entries
                },
                {
                    headers : {
                        'Content-Type' : 'text/plain'
                    }
                }).then(function(response) {
                $scope.myData = response.data;
            });
        };
        $scope.getTranslations = function(x) {
            $http.post(
              $scope.filter.mmtURL + '/:thesaurus/getTranslations',
              {
                  language: $scope.filter.language,
                  spath: x.spath
              },
              {
                  headers : {
                      'Content-Type' : 'text/plain'
                  }
              }).then(function(response) {
              x.translations = response.data;
          });
        };
        $scope.count = 0;
        $scope.myfunc = function() {
            $scope.count++;
        }
        $scope.getAllEntries();
    });

    app.filter('html', ['$sce', function ($sce) {
        return function (text) {
            return $sce.trustAsHtml(text);
        };
    }]);

    app.directive('integer', function(){
    return {
        require: 'ngModel',
        link: function(scope, ele, attr, ctrl){
            ctrl.$parsers.unshift(function(viewValue){
                return parseInt(viewValue, 10);
            });
        }
    };
});
</script>
</body>
</html>